<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Responsive Masonry layout</title>
    <link rel="stylesheet" href="sponsor.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <div class="content">
          <img src="/Brand1.png" />
          <p>you’re laughing. castiel went to super turbo hell to save the.</p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img
            src="https://64.media.tumblr.com/063b6d1eadfcff6b81d38fc5d8235f3b/b6dedc0caa2faf45-9f/s500x750/3bfb6b0bbb5640acde96548b50bdce7cae59e8d0.png"
          />
          <p>remember that episode where spongebob spends the entire time.</p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img
            src="https://64.media.tumblr.com/adc7ef349eb11d98d079d5197b749cfe/9e668056c10d8ae9-ec/s500x750/6f723df9d2566f43b1b7b26fc651749c2b92f906.png"
          />
          <p>whats wrong babe you hardly touched your gummy bear album in .</p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img
            src="https://64.media.tumblr.com/bbb897a3098f5b434a01128bd901351b/33771ad17a000e28-7c/s500x750/83af9f63ce3d61272546ab462f0ab1b40ee11af2.png"
          />
          <p>when i see my mutuals reblog a post from another one of my.</p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img
            src="https://64.media.tumblr.com/c8da1c678426ab0d13086d4dd7dc5792/1946a92e4e80527c-f4/s500x750/5d6c5edacdf6368b0a58a4e3bff11f53923bce03.png"
          />
          <p>Okay, not to be that person, but yall know how the press are.</p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img
            src="https://64.media.tumblr.com/80f4178ff9e7820a67df2cb9756939c0/b293212ab6b716d4-79/s500x750/96991ea2cc5c8b8049083a36ae12a36ad2a8f7bd.png"
          />
          <p>They could have been doing that the entire time if they.</p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img
            src="https://64.media.tumblr.com/80f4178ff9e7820a67df2cb9756939c0/b293212ab6b716d4-79/s500x750/96991ea2cc5c8b8049083a36ae12a36ad2a8f7bd.png"
          />
          <p>They could have been doing that the entire time if they.</p>
        </div>
      </div>
    </div>
  </body>
</html>
